/*FONTES*/

@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*CABEÇALHO*/

.navbar-brand img{
    -webkit-filter: drop-shadow(1px 1px 1px white);
    filter: drop-shadow(1px 1px 6px rgba(164, 161, 161, 0.768));
}
.navbar-brand span{
    font-family: 'Pushster', cursive;
    letter-spacing: 1px;
    font-size: xx-large;
    color: #9dc4e8;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 10px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: white;
    z-index: 999;
    font-size: 30px;
    border-radius: 7px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/*CONTEUDO*/

.conteudo{
    background-color: #9dc4e8;
}
.titulo{
    color: white;
    font-family: 'Pushster', cursive;
    letter-spacing: 1px;
    font-size: 70px;
    text-align: center;
    padding: 90px 0;
}
.card{
    background-color: white;
    margin: 40px 0;
    border-radius: 25px;
    align-items: center;
}
.card h5{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    text-align: center;
    font-size: xx-large;
}
.card img{
    width: 200px;
    height: 200px;
    margin: 20px 0;
}